body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}


.bar {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    max-width: 1440px;
    background-color: #f9f9fb;
    border: solid 1px #cdcdcd;
}
.content {
    background-color: white;
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    background-color: white;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1440px;
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}


.infobox{
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em;
}

.infoimg{
    text-align: center;
    vertical-align: top;
}

.infoboxhead{
    vertical-align: top;
    text-align: left;
}

.infoboxlabel{
    vertical-align: top;
    text-align: center;
}


.header {
    max-width: 1440px;
    margin: auto;
    background-color: #f9f9fb;
    padding: 15px;
    border: solid 1px #cdcdcd;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    padding: 0 1rem;
    
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.search input {
    padding: 0.5rem;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    margin-right: 0.5rem;
}

.search button {
    padding: 0.5rem 1rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
